.App-body {
    background-color: #282c34;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    padding-left: 0;
    padding-top: 5em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    user-select: none;
}

.content {
    align-items: left;
    flex-grow: 0;
}

@media (max-width: 550px) {
    .content {
        align-items: center;
        margin: 1em;
    }
}