.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  padding-left: 50px;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

