.section-container {
    padding-left: 20px;
}

.section-header {
    font-size: 30px;
    margin: 10px;
    margin-left: 0px;
}

.line {
    background-color: #6c6f78;
    width: 60px;
    height: 1px;
    display: inline-block;
    margin: 5px;
    margin-right: 10px;
}

.section-description {
    color: #6c6f78;
    font-size: 20px;
    margin: 10px;
    margin-left: 0px;
}

.tasks-block {
    display: flex;
    align-items: stretch;
    padding: 30px 0 30px;
}

.vertical-line {
    width: 1px;
    background-color: #6c6f78;
    margin-left: 0;
    margin-right: 30px;
}

.tasks-container {
    margin: 0;
}