.task-container {
    margin-bottom: 2em;
}

.inline-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.task-label {
    color: white;
    font-size: 1.5rem;
    margin: 0.5em;
}

.task-score {
    display: flex;
    width: 5em;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    padding-right: 1.25em;
    align-items: center;
    justify-content: right;
}

.greyed-out {
    color: #6c6f78;
}

@media (max-width: 810px) {
    .task-label {
        margin-left: calc(0.5em - 32px + 4vw);
    } 
}

@media (max-width: 550px) {
    .task-label {
        margin-left: 0;
        margin-right: 0;
    } 
    .task-score {
        padding-right: 0;
        justify-self: right;
    }
    .inline-container {
        align-items: stretch;
        justify-content: space-between;
    }
    
}